form {background-color: darkseagreen;
      width: 97%;
      margin-left: 1.5%;
      
}


#heading1 {font-size: 25px;
    color: darkgreen;    
}

#heading2 {font-size: 18px;
           font-style: italic;
           color: green;

}


input {display: block;
       margin-bottom: 10px;
       width: 50%;
    
}
   <form action="" method="post">
   
   <h1 id="heading1">A Simple Form</h1>
   <h2 id="heading2">Form Fundamentals</h2>
   
  <section class="section">Customer Info</section>
  
  <section class="section">Books</section>
   inpu;


  </form>
   
    